<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.phonegap.plugins.actionsheet"
	version="1.0.0">

	<name>ActionSheet</name>
	<description>ActionSheet Plugin</description>
	<license>MIT</license>

	<js-module src="www/ActionSheet.js" name="ActionSheet">
		<clobbers target="ActionSheet" />
	</js-module>

	<engines>
		<engine name="cordova" version=">=3.1.0" />
	</engines>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="ActionSheet" >
				<param name="android-package" value="com.phonegap.plugins.actionsheet.ActionSheet"/>
			</feature>
		</config-file>
		<source-file src="src/android/com/phonegap/plugins/actionsheet/ActionSheet.java"
			           target-dir="src/com/phonegap/plugins/actionsheet" />
		<info>
			Manual configuration of your DroidGap subclass is required

      Append the methods:
		    /*
		     * Hook in Cordova for context menu plugins
		     *
		     */
		    @Override
		    public boolean onContextItemSelected(MenuItem item) {
		    	this.postMessage("onContextItemSelected", item);
		        return true;
		    }
		    @Override
		    public void onContextMenuClosed(Menu menu) {
		    	this.postMessage("onContextMenuCosed", menu);
		    }
		    @Override
		    public void onCreateContextMenu(ContextMenu menu, View view,
		                                    ContextMenuInfo menuInfo) {
		    	Map&lt;String, Object&gt; params = new HashMap(3);
		    	params.put("menu", menu);
		    	params.put("view", view);
		    	params.put("menuIndo", menuInfo);
		    	this.postMessage("onCreateContextMenu", params);
		    }
		</info>
	</platform>

	<!-- ios -->
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="ActionSheet">
				<param name="ios-package" value="ActionSheet"/>
			</feature>
		</config-file>

		<header-file src="src/ios/ActionSheet.h" />
		<source-file src="src/ios/ActionSheet.m" />
	</platform>

</plugin>

